body {
	font-family: sans;
	background-color: Thistle;
}
h1 {
	text-align: center;
	font-family: Comic Sans MS;
}
main {
	max-width: 69em;
	margin-left: auto;
	margin-right: auto;

}
form {
	background-color: LightGoldenRodYellow;
	border: outset;
	max-width: 30em;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
}
form label {
	
}
.two_column {
	display: grid;
	grid-template-columns:  auto auto;
	grid-gap: 1em;
	padding: 1em;
}
footer {
	margin-top: 1em;
	text-align: center;
	background-color: MistyRose;
	border: outset;
	max-width: 30em;
	margin-left: auto;
	margin-right: auto;
}